body {
  font-family: 'Andada Pro', serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.6;
  font-size: 1.25rem;
}

a,
a:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
  word-break: break-word;
}

a:hover,
a:visited {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
}

html,
button,
input,
select,
textarea {
  color: rgba(0, 0, 0, 0.9);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}

a img {
  border:none;
}

figure {
  margin: 0;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  border-left: 3px solid rgba(0, 0, 0, 0.9);
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: .8;
}

blockquote em {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Andada Pro', serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .9rem;
}

ul {
  padding-left: 15px;
  list-style: disc inside;
}

ul li {
  margin-bottom: 10px;
}

ul li p {
  display: inline;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.prevent-collapse {
  min-height: .1rem
}

.smaller {
  font-size: 70%;
}

pre {
  font-size: 1.125rem;
  padding: 1rem;
  overflow: auto;
}

pre code {
  font-size: 1.125rem;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

.text-light {
  font-size: .875rem;
}

.section {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.footer {
  padding: 20px 0 40px 0;
  font-size: 0.875rem;
}

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

  .intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-image {
    max-width: 250px;
  }
}

.section-posts,
.section-projects,
.section-contact {
  margin-top: 40px;
}

.posts-list {
  .post-date {
    @extend .text-light;
  }
}

.post {
  .subtitle {
    @extend .text-light;
    margin-top: 20px;
  }
}

pre.z-code {
  border-radius: 3px;
  padding: 30px;
  background-color: #fdfdfd;
  border: 2px solid #f8f8f8;
}

@media (max-device-width: 1023px) {
    body {
      padding: 20px 40px 40px 40px;
    }

    .container {
      margin-top: 0;
    }
}

@media (max-device-width: 699px) {
  body {
    padding: 20px;
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .intro {
    grid-template-columns: 1fr;

    .intro-image {
      display: none;
    }
  }

  .section-posts,
  .section-projects,
  .section-contact {
    margin-top: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }

  a {
    color: #c9d1d9;
  }

  a:hover,
  a:visited {
    color: rgba(#c9d1d9, 0.7);
  }

  html,
  button,
  input,
  select,
  textarea {
    color: #c9d1d9;
  }

  ::-moz-selection {
    background: #0f2544;
  }

  ::selection {
    background: #0f2544;
  }

  hr {
    border-top: 1px solid #30363d;
  }

  blockquote {
    border-left: 3px solid #c9d1d9;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Andada Pro', serif;
    font-weight: 400;
    color: #c9d1d9;
    line-height: 1.25;
  }

  pre.z-code {
    border-radius: 3px;
    padding: 30px;
    background-color: inherit;
    border: 1px solid #30363d;
  }

  .intro-image {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
  }
}

@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);
