<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vivek R</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <section class="section">
    <div class="container">
    {% block content %} {% endblock %}
    </div>

    {% if current_path != "/" %}
    <div class="footer">
      <div class="footer-left">
        <a href="/">&#129040; back to home page</a>
      </div>
    </div>
    {% endif %}
  </section>
</body>
</html>
